{% extends 'view_url_app/based.html' %}

{% block body_block %}
  <div class="container">
    <div class="row p-5">
      <div class="col-md-5 mx-auto mt-5">
        <div class="card p-3">
          <h2 class="text-center"> Delete {{musician.first_name}} {{musician.last_name}} ? </h2>
          <form class="mx-auto my-3" method="POST">
            {% csrf_token %}
            <input type="submit" name="submit" value="Delete" class="btn btn-danger">
            <a href="{% url 'view_url_app:musician_detail' pk=musician.pk %}" class="btn btn-info"> Cancel </a>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
