{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title_block %} Create New Account {% endblock %}
{% block body_block %}
  <div class="container">
    <div class="row mt-4">
      <div class="col-md-6 mx-auto">
        {% if registered %}
          <div class="alert alert-success">
            Account Created Successfully!
            <a href="{% url 'App_Login:login' %}" class="">Login Here</a>
          </div>
        {% else %}
          <h2 class="">Create New Account:</h2>
          <hr>
          <form method="POST">
            {{ form|crispy }}
            {% csrf_token %}
            <button class="btn btn-info" type="submit">Create Account</button>
          </form>
          <br>
          <p class="">Already Have an Account? <a href="{% url 'App_Login:login' %}" class="">Login Here!</a></p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
